body {background-color:black; font-family: arial; color:white}
h1{color:grey; font-family: verdana}
/* Main div style */
.maindiv {
    background-color: white;
    color: black;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
}
/* centralize content */
.ammounts {
    width: 300px;
    margin: 0 auto;
    position: relative;
}


